@font-face {
    font-family: 'PoetsenOne';
    src: url(PoetsenOne-Regular.ttf);
}
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, rgb(1, 97, 1) 33.33%, white 33.33%, white 66.66%, rgb(165, 1, 1) 66.66%);
    font-family: 'PoetsenOne', sans-serif;
}

h1 {
    font-family: 'PoetsenOne' sans-serif;
}

h2 {
    font-family: 'PoetsenOne' sans-serif;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Varmistetaan, että footer on pohjimmaisena */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 20px;
    text-align: center; /* Keskitys footerin sisällä */
  }
  
  footer img {
    width: 200px;  /* Logon kokosäätö */
    margin-right: 10px;  /* Tekstin ja logon väliin jäävä tila */
  }

  .form-container {
    display: flex;
    flex-direction: column; /* Tämä kohta laittaa containerin jutut päällekkäin, eikä vierekkäin kuten default on */
    align-items: center; /* Keskitetään jutut, lomake on muuten kökön näköinen */
    justify-content: center;
    margin-top: 50px;
  }

  .form-container h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 38px;
    
  }
  

  form {
    background: rgb(153, 209, 178);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }